

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

* {
  margin: 0 auto;
  border: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: black;
}

h1 {
  font-size: 100px !important;
  margin: 40px auto 20px;
}

#chooseSize, select {
  font-size: 30px !important;
}

#dropDown {
  margin-bottom: 0;
}

#player1, #player2 {
  color: black !important;
}

h1, #player1, #player2, #chooseSize {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 50px;
  color: white;
  animation: blink 0.5s alternate infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

#player1 {
  float: left;
  margin: 250px 10px 0 100px;
}

#player2 {
  float: right;
  margin: 250px 100px 0 10px;
}

#player1 > div, #player2 > div {
  font-size: 100pt;
}

.yesButton, .noButton {
  background: inherit;
  font-size: 50px;
  font-family: 'Black Han Sans', sans-serif;
  margin-bottom: 0;
}

#container {
  width: 900px;
  height: 900px;
  position: relative;
  margin: 50px auto 50px;
  color: white;
  border: 10px hidden black;
  table-layout: fixed;

}

table {
  position: absolute;
}

td {
  border: 10px solid black;
  animation: annoying 2s linear infinite;
}

@keyframes annoying {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

#message, #draw {
  display: none;
  position: absolute;
  width: 50%;
  height: 60%;
  top: 40vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: rgba(196, 240, 240,0.7);
  font-family: 'Black Han Sans', sans-serif;
  text-align: center;
  font-size: 100px;
}

#reset {
  font-size: 30px;
  margin-top: 10px;
}
