/* .container {
  width: 600px;
  height: 600px;
  border: 10px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;

}; */

* {
  margin: 0 auto;
  border: 0;
  padding: 0;
}

#container {
  width: 100%;
}

td {
  height: 200px;
  width: 200px;
  border: 10px solid black;
  background-color: green;
}

td:active {
  background-color: yellow;
}

table {
  width: 600px;
  height: 600px;
  border: 10px solid black;
  /* display: flex;
  flex-wrap: wrap; */
  margin: 0 auto;
};



/* .row{
  width:100%;
  height:33%
  display: block;
}

.box>* {
  color: white;
  width: 33%;
  height:33%;
  /* position: absolute; */
  /* line-height: 200px; */
  /* display: table-cell; */
  /* flex: 1 1 33%;
  /* flex-wrap: wrap; */
  /* margin: 0;
  border: 10px solid blue; */
/* }   */
